  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .flip-card {
    background-color: transparent;
    transition: 1s ease-in-out;
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }

  /* Media query for large screens */
  @media (min-width: 1024px) {
    .flip-card {
      transform: scale(1.2); /* Scale up the entire flip card */
      width: 360px; /* Adjust width to maintain proportions */
      height: 240px; /* Adjust height to maintain proportions */
    }
  }

  .flip-card:hover {
    transform: scale(1.3); /* Slightly scale up the icon on hover for emphasis */
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  .flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  .card-item {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  .card-item.hidden {
    opacity: 0;
  }

  #glow-icon {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    transition: filter 0.3s ease, transform 0.3s ease; /* Smooth transition for glow and scale */
  }

  #glow-icon:hover {
    transform: scale(1.05); /* Slightly scale up the icon on hover for emphasis */
  }

  .relative.flex.flex-col.bg-gray-200.rounded-lg.shadow-md {
    transition: height 0.5s ease-in-out; /* Smooth transition for height */
    overflow: hidden; /* Prevent content overflow during animation */
  }

  h4#hover-2 {
    display: none;
  }


  /* From Uiverse.io by Hashir-Ahmed123 */ 
  @keyframes drop {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(80px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .lava-lamp {
    position: relative;
    width: 100px;
    height: 150px;
    background: #000;
    border-radius: 25px;
    overflow: hidden;
  }

  .bubble {
    position: relative;
    top: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #e64980, #ff8787);
    border-radius: 50%;
    left: 15px;
    animation: drop 5s ease-in-out infinite;
  }
  .bubble1 {
    position: relative;
    top: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #82c91e, #3bc9db);
    border-radius: 50%;
    animation: drop 3s ease-in-out infinite;
  }
  .bubble2 {
    position: relative;
    top: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #7950f2, #f783ac);
    border-radius: 50%;
    left: 30px;
    animation: drop 4s ease-in-out infinite;
  }
  .bubble3 {
    position: relative;
    top: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #4481eb, #04befe);
    border-radius: 50%;
    left: 20px;
    animation: drop 6s ease-in-out infinite;
  }

  button, h1 {
    transition: all ease-in-out 0.2s;
  }
