{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Flashcard Study</title>
</head>

{% block content %}

<body class="bg-gray-100">

    <!-- card selection container -->
    <div class="flex flex-col">
        <div class="flex justify-center">
            <div class="bg-gray-300 p-4">
                <div class="flex flex-row justify-center">
                    <h1 class="font-semibold lg:mx-12">Study Editor</h1>
                    <form action="/create-set" method="get">
                        {% csrf_token %}
                        {{ form }}
                        <button
                            class="font-medium text-white card-set-button bg-blue-500 hover:bg-blue-700 p-1 rounded">Create
                            Set</button>
                    </form>
                </div>
                <div class="grid grid-cols-3 gap-4 mt-4">
                    {% for card in card_sets %}
                    <form action="{% url 'edit' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <div class="flex flex-col gap-4 mt-2">
                            <h4 class="font-semibold">
                                Set ID:
                                {{ card.setid}}
                            </h4>
                            <button
                                class="font-medium text-white card-set-button bg-blue-500 hover:bg-blue-700 p-4 rounded"
                                id="{{ card.setid }}" name="selected_set" value="{{ card.setname }}|{{ card.setid }}">
                                <h1>{{ card.setname }}</h1>
                            </button>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- edit container -->
        <div id="edit-continer" class=" lg:mt-24 flex justify-center">
            <div class="bg-gray-300 p-4">
                <div class="flex flex-row justify-center">

                    <form action="/remove-card" method="get">
                        {% csrf_token %}
                        {{ form }}
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold 
                    py-1 px-1 border border-red-700 rounded"><i class="ri-subtract-fill"></i></button>
                    </form>
                    <h1 class="text-center font-semibold lg:mx-24">Editor</h1>
                    <button class="font-semibold bg-red-500 hover:bg-red-700 text-white 
                    font-bold py-1 px-1 border border-red-700 rounded"><i class="ri-close-fill"></i></button>
                </div>
                <div class="grid grid-cols-3 gap-4 mt-4">
                    {% for card in card_set %}
                    <button data-term="{{ card.term }}" data-definition="{{ card.definition }}"
                        data-selectedset="{{ card_setid }}"
                        class="font-medium text-white card-set-button bg-blue-500 hover:bg-blue-700 p-4 rounded"
                        id="{{ card.cardid }}" name="selected_card" value="{{ card.setid }}|{{ card.cardid }}"
                        onclick="userSet(this)">
                        <h1>{{ card.term }}</h1>
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- term & definition editor container -->
        <div class=" lg:mt-24 flex justify-center">
            <div class="bg-gray-300 p-4">
                <form action="./card-set" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="flex flex-row justify-center">
                        <div class="flex flex-col">
                            <button class="bg-green-500 hover:bg-green-700 text-white font-bold 
                    py-2 px-2 border border-green-700 rounded"><i class="ri-add-fill"></i></button>
                        </div>
                        <h1 class="text-center font-semibold lg:mx-24">Term & Definition Editor</h1>
                        <button class="font-semibold bg-red-500 hover:bg-red-700 text-white 
                    font-bold h-9 px-2 border border-red-700 rounded"><i class="ri-close-fill"></i></button>
                    </div>
                    <div class="flex flex-col gap-4 mt-4">
                        <label for="term">Term:</label>
                        <input class="text-center font-semibold clear-input" name="term" type="text"
                            placeholder="Select a">

                        <label for="definition">Definition:</label>
                        <input class="text-center font-semibold clear-input" name="definition" type="text"
                            placeholder="card above!">

                        <label for="setid">Set ID:</label>
                        <input class="text-center font-semibold clear-input" name="setid" type="integer" placeholder=1>
                </form>

                <div class="flex flex-row lg:space-x-32 justify-center gap-4 mt-2">
                    <button onclick="clearInput()" class="bg-red-500 hover:bg-red-700 text-white font-bold 
                            py-2 px-4 border border-red-700 rounded">Clear</button>
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold 
                        py-2 px-4 border border-green-700 rounded">Save</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'dialog-edit.js' %}"></script>
</body>
{% endblock %}

</html>