{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Flashcard Study</title>
</head>

{% block content %}

{% if user.is_authenticated %}

<body class="bg-gray-100">
    <div class="flex flex-col justify-center items-center gap-10 mt-24">
        <h1 class="hover:text-blue-400 text-2xl font-bold">Welcome {{ user.username }},</h1>
        <h1 class="text-2xl font-bold">Let's change your password</h1>
        <form action="/password_change/done/" method="post">
            {% csrf_token %}
            {{ form }}

            <div class="flex flex-col gap-4">
                {{ form.old_password }}
                <input type="text" placeholder="old password" name="old_password">

                {{ form.new_password1 }}
                <input type="text" placeholder="new password" name="new_password1">

                {{ form.new_password2 }}
                <input type="text" placeholder="confirm password" name="new_password2">


                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 border border-blue-700 rounded"
                    type="submit">Change Password</button>
            </div>
        </form>
    </div>
</body>

{% else %}
<a href="/login">
    <h1 class="hover:text-blue-400 text-2xl font-bold">Please login to change your password</h1>
</a>
{% endif %}
{% endblock %}

</html>