{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Flashcard Study</title>
</head>
{% block content %}

<body class="bg-gray-100">
    <div class="container flex justify-center items-center">
        <div class="flex flex-col">
            <form action="/register-load/" method="post" class="space-y-10">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="flex justify-center items-center">
                    <div class="flex flex-col gap-4">
                        {{ form.username.errors }}
                        <input name="username" type="text" placeholder="Username">

                        {{ form.password1.errors }}
                        <input name="password1" type="password" placeholder="Password">

                        {{ form.password2.errors }}
                        <input name="password2" type="password" placeholder="Confirm password">

                        {{ form.email.errors }}
                        <input name="email" type="email" placeholder="youremail@address.com">

                        <button type="submit" class="btn btn-primary">Create Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'scripts.js' %}"></script>
</body>

{% endblock %}

</html>