{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Flashcard Study</title>
</head>
{% block content %}

<body class="bg-gray-100">
    <div class="flex flex-row">
        <div class="container flex flex-row w-screen justify-center items-center mx-auto">
            <div class="bg-gray-200 flex flex-col px-36 rounded-lg shadow-md">

                <h1 class="font-semibold flex justify-center my-4 text-xl" id="lang-header">{{ user_selected_set_name }}
                </h1>

                <!-- card container -->
                <div class="card-container">
                    <!-- card start -->
                    {% for card in card_set %}
                    <div id="card-item" class="flip-card my-16 {% if not forloop.first %}hidden{% endif %}">
                        <div id="{{ card.cardID}}" class="flip-card-inner">
                            <div
                                class="flex flip-card-front bg-white p-4 rounded-lg shadow-sm justify-center items-center">
                                <h1 class="font-semibold text-gray-600 text-lg">{{ card.term }}</h1>
                            </div>
                            <div
                                class="flex flip-card-back bg-white p-4 rounded-lg shadow-sm justify-center items-center">
                                <h1 class="font-semibold text-gray-600 text-lg">{{ card.definition }}</h1>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- card end -->
                </div>


                <div class="flex flex-row space-x-52 items-center justify-center">
                    <button id="prev-btn" class="bg-gray-300 border-black border-2 rounded-lg p-3">prev</button>
                    <button id="next-btn" class="bg-gray-300 border-black border-2 rounded-lg p-3">next</button>
                </div>
            </div>
        </div>

        <!-- card set list -->
        <div
            class="relative flex flex-col sm:px-36 sm:mx-40 sm:my-20 md:px-36 md:mx-40 md:my-20 bg-gray-200 rounded-lg shadow-md card-set-container">
            <ul class="grid grid-cols-3 gap-4 auto-rows-max mt-2" id="card-list-container">
                <!-- Title at the top -->
                <li class="col-span-3 flex items-center justify-center">
                    <button id="card-list-button"><i class="absolute top-1 left-6 ri-list-unordered text-3xl"
                            id="glow-icon"></i></button>
                    <h1 class="font-semibold text-xl mx-44" id="card-set-title">Sets</h1>
                </li>

                <!-- Border under the title -->
                <li class="col-span-3 border-b border-gray-400 -mt-2"></li>

                <!-- Card items -->
                {% for card in card_set_list %}
                <li
                    class="bg-blue-300 p-4 col-span-3 flex items-center justify-center rounded-lg shadow-sm w-full card-item">
                    <form action="/study" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="font-medium text-white card-set-button" id="{{ card.setid }}"
                            name="selected_card" value="{{ card.setname }}|{{ card.setid }}">
                            <h1>{{ card.setname }}</h1>
                        </button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="{% static 'next-card.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
</body>
{% endblock content %}

</html>